*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  flex: 1;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.task {
  background: #eee;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.deleteBtn {
  background: rgb(253, 6, 6);
  color: white;
  border: none;
  padding: 5px 10px;
}

